<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idle.dao.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.idle.pojo.Category" >
    <id column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="category_status" property="categoryStatus" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    category_id, category_name, number, category_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </select>
  <select id="getAllCategory" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from category
    where category_status = #{1,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.idle.pojo.Category" >
    insert into category (category_id, category_name, number,category_status)
    values (#{categoryId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER},
      #{categoryStatus,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.idle.pojo.Category" >
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="categoryStatus != null" >
        category_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="categoryStatus != null" >
        #{categoryStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.idle.pojo.Category" >
    update category
    <set >
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="categoryStatus != null" >
        category_status = #{categoryStatus,jdbcType=TINYINT},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.idle.pojo.Category" >
    update category set category_name = #{categoryName,jdbcType=VARCHAR},number = #{number,jdbcType=INTEGER},
      category_status = #{categoryStatus,jdbcType=TINYINT} where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  <update id="updateCategoryNum" parameterType="Integer" >
    update category set number = #{number,jdbcType=INTEGER} where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  <!--<update id="updateCategoryNum2" parameterType="Integer" >数据库触发器实现
    update category set number = number+1 where category_id = #{categoryId,jdbcType=INTEGER}
  </update>-->
</mapper>