<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idle.dao.ImageMapper" >
  <resultMap id="BaseResultMap" type="com.idle.pojo.Image" >
    <id column="img_id" property="imgId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.idle.pojo.Image" extends="BaseResultMap" >
    <result column="img_url" property="imgUrl" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_id
  </sql>
  <sql id="Blob_Column_List" >
    img_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from image
    where img_id = #{imgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from image
    where img_id = #{imgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.idle.pojo.Image" >
    insert into image (img_id, goods_id, img_url)
    values (#{imgId,jdbcType=INTEGER}, #{goodsId,jdbcType=VARCHAR}, #{imgUrl,jdbcType=LONGVARCHAR})
  </insert>
  <select id="selectByGoodsPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
    select * from image where goods_id = #{goodsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteImagesByGoodsPrimaryKey" parameterType="java.lang.String">
    delete from image
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.idle.pojo.Image" >
    insert into image
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imgId != null" >
        img_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imgId != null" >
        #{imgId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.idle.pojo.Image" >
    update image
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where img_id = #{imgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.idle.pojo.Image" >
    update image
    set goods_id = #{goodsId,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=LONGVARCHAR}
    where img_id = #{imgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.idle.pojo.Image" >
    update image
    set goods_id = #{goodsId,jdbcType=VARCHAR}
    where img_id = #{imgId,jdbcType=INTEGER}
  </update>
</mapper>